* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    
    
    background-color: #1F2D38;
    display: grid;
    background-image: url("./imagens/Design_sem_nome__1_-removebg-preview.png");
    background-size: 900px;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    place-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    color: #b4d836;
}

h1.Contato,
h1.Projetos,
h1.obs{
    padding: 30PX;
    color: #b4d836 ;

}

textarea{
    border-radius: 20px;
    padding-bottom: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    min-height: 12.5rem;
    resize: vertical;
    margin-bottom: 15px;
}

img.dow{
    width: 100%;
    
}

img{
    padding: 60px;
    width: auto;
   
}

h2{
    padding-bottom: 30px;
    color: rgb(37, 66, 233);
}
h3{
    padding-top: 50px;
}

form{
    width: 100%;
    max-width: 30rem;
    color: white;
}

a{
    color: #b4d836;
}

label,
input,
button{
    display: block;
}

input,
button{
    width: 100%;
    font: inherit;
    padding: 20px;
    font-weight: 700;
}

input{
    margin-bottom: 1rem;
    color: rgb(20, 20, 20);
    
    transition: border-color 0.3s;
    box-shadow:  0.3s;
    border-radius: 20px;
}

input:hover,
input:focus{

    outline: none;
    border-color: rgb(0, 0, 0);
    box-shadow:  0 0 0 0.3125rem #b4d836;

}

textarea:hover,
textarea:focus{

    outline: none;
    border-color: rgb(0, 0, 0);
    box-shadow:  0 0 0 0.3rem #b4d836;

}



label{
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-align: center;
    padding-top: 30;
}

button{
    border: none;
    border-radius: 99px;
    color: white;
    background: #b4d836;
    cursor: pointer;
    transition: 0.3s;

}

button:hover,
button:focus{
    outline: none;
    background: #526412 ;
}

button:disabled{
    cursor: not-allowed;
    background-color: #84868f;
}
 
.success{
    color: burlywood;

}

.error{
    color: brown;
}

.success,
.error{
    text-align: center;
}